.Container-Modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.3); /* Negro ahumado con 30% de opacidad */
    position: relative; /* Establece una posición para que z-index funcione */
    left: 400px;
    bottom: 630px;
}

.no-interaction {
    pointer-events: none;
    opacity: 0.5;
  }
  
  .no-interaction * {
    pointer-events: none;
  }

