.ButtonLoading {
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 24px;
    right: 24px;
    height: 64px;
    width: 64px;
}

.ButtonLoading {
    background: linear-gradient(90deg, rgba(250,250,250,1), rgb(200, 199, 199));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
