.TodoItem {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 24px ;
    margin-bottom: 30px;
    box-shadow: 0px 5px rgba(32, 35, 41, 0.5)
    
}

.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px); /* 120 es una resta al 100%*/
    font-size: 18px;
    line-height: 24px; /*separacion de lieneas en el texto (interlineado)*/
    font-weight:400
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

